Package: com.gilshahar7.apolloopener
Name: ApolloOpener
Depends: mobilesubstrate, ws.hbang.libopener (>= 3.1.2)
Version: 1.1
Architecture: iphoneos-arm
Description: Open "reddit.com" links in the Apollo app using libOpener.
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
